<!doctype html>
<html>

<head>
    <title>Calendar this!</title>
</head>

<body>
    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
          </tr>
        </thead>
        <tbody>
          <!-- loop here to create rows -->
          <!-- use strftime to format date objects -->
          <!-- loop here to create rows -->
          {% for item in rows %}
          <!-- {startObj= datetime.strptime({{item[2]}}, '%Y-%m-%d %H:%M:%S')} -->
          <th>{{item[1]}}</th>
          <th>{{item[2][11:16]}}</th>
          <th>{{item[3][11:16]}}</th>
          {% endfor %}
        </tbody>
      </table>

</body>

</html>
